.seleccionada {
  background: #B3CDB0;
}

.table-striped > tbody > tr:nth-child(2n+1).seleccionada {
  background: #C0C2AA;
}

#promedio-nacional {
  background: #EFA93A;
}

.carousel img {
  margin: 0 auto;
  width: 600px;
}

.carousel-caption {
  color: red;
}

/* options icons */
a .glyphicon-star {
  color: #FFD700;
}

a .glyphicon-remove {
  color: #800000;
}
