/* Table */

.table > tbody > tr > td {
  vertical-align: middle;
  font-size: 120%;
  color: gray;
}

.table > tbody > tr.national-average * {
  background: rgb(102,181,235);
  color: white;
}

.table > tbody > tr > td.name,
.table > tbody > tr > td.selection {
  border-right: 1px solid cyan;
}

.table > tbody > tr > td.name {
  width: 40%;
}

.info {
  text-align: center;
}

.seleccionada {
  background: rgb(244,244,244);
}

.table-striped > tbody > tr:nth-child(2n+1).seleccionada {
  background: #C0C2AA;
}

.viz {
  text-align: center;
}

/* Table - progress bar */
.progress {
  height: 6px;
  background-color: rgb(234,234,234);
  box-shadow: none;
}


/*
.carousel img {
  margin: 0 auto;
  width: 600px;
}

.carousel-caption {
  color: red;
}
*/
/* options icons */
a .glyphicon-star {
  color: #FFD700;
}

a .glyphicon-remove {
  color: #800000;
}
