<!doctype html>
<html ng-app="saludApp">
<head>
  <meta charset="utf-8">
  <title>Wireframe Interactivo Comparativa de Mutualistas</title>
  <!-- for best results of ngCloak -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css" />
</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <h1>Wireframe Interactivo (ayuda visual)</h1>
      <p>Complemento a Wireframes presentados el 25/11</p>
      <p>Nota: Esto sirve sólo como ayuda visual, <b>no se espera que funcione</b></p>
    </div>
  </div>
  <div ng-controller="OptionsController" class="container">
    <div class="row">
      <div class="col-md-6 mutualista_actual">
        <h2>1. Elegi tu mutualista</h2>
          <input type="text" class="form-control" ng-model="selected_state" placeholder="Departamento" typeahead="state as state.name for state in states | filter:$viewValue" class="form-control" />
          <br />
          <input type="text" class="form-control" ng-model="selected_provider" placeholder="Mutualista" typeahead="mutualista as mutualista.name for mutualista in mutualistas | filter:$viewValue" class="form-control" />
      </div>
      <div class="col-md-6 criterios_predefinidos">
        <h2>2. Selecciona tus criterios o intereses</h2>
        <accordion close-others="true">
        <accordion-group heading="{{interest.title}}" is-open="status.is" ng-repeat="interest in interests">
            {{interest.explanation}}
          </accordion-group>
        </accordion>
      </div>
    </div>
    <h1 class="info_wireframe">Opción 1: tablas con indicadores visuales</h1>
    <div class="table-responsive" ng-controller="ListController">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Nombre
              <a href="" ng-click="reOrder(predicate='NOMBRE')">^</a>
            </th>
            <th>Metas Asistenciales
              <a href="" ng-click="reOrder('META_ADOLESCENTE')">^</a>
            </th>
            <th>Tiempos de Espera
              <a href="" ng-click="reOrder('META_ADULTO')">^</a>
            </th>
            <th>Personal Disponible
              <a href="" ng-click="reOrder('META_ADULTO_MAYOR')">^</a>
            </th>
          </th>
        </thead>
        <tbody>
          <tr class="national-average">
            <td></td>
            <td>Promedio Nacional</td>
            <td><div class="info">50%</div></td>
            <td><div class="info">50%</div></td>
            <td><div class="info">50%</div></td>
          </tr>
          <tr ng-repeat="mutualista in seleccionadas | orderBy:predicate:reverse" class="seleccionada">
            <td>
              <a href="" ng-click="toggleSelected(mutualista)">
                <span ng-show="!mutualista.selected" class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span ng-show="mutualista.selected"  class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </a>
              <a href="#">Comparar</a>
            </td>
            <td>{{mutualista.NOMBRE}}</td>
            <td>{{mutualista.META_ADOLESCENTE}}</td>
            <td>{{mutualista.META_ADULTO}}</td>
            <td>{{mutualista.META_ADULTO_MAYOR}}</td>
          </tr>
          <tr ng-repeat="mutualista in mutualistas | orderBy:predicate:reverse">
            <td class="selection">
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-click="toggleSelected(mutualista)">
                  {{ mutualista.selected | showAction}}
                </button>
                <button type="button" class="btn btn-default">
                  Comparar
                </button>
              </div>
              <!-- <a href="" ng&#45;click="toggleSelected(mutualista)"> -->
              <!--   <span ng&#45;show="!mutualista.selected" class="glyphicon glyphicon&#45;star" aria&#45;hidden="true"></span> -->
              <!--   <span ng&#45;show="mutualista.selected"  class="glyphicon glyphicon&#45;remove" aria&#45;hidden="true"></span> -->
              <!-- </a> -->
            </td>
            <td class="name">{{$index + 1}}.- {{mutualista.NOMBRE}}</td>
            <td>
              <div class="viz">
                <svg class="smart-viz" style="margin:4px;" width="81" height="81">
                  <g transform="scale(0.9418604651162791)">
                    <circle class="color" cx="43" cy="43" r="42" fill="#b2d764"></circle>
                    <circle class="ring" cx="43" cy="43" r="28" fill="#fff"></circle>
                    <polygon points="43 7 51 23 35 23" fill="#fff" transform="rotate(360 43 43)"></polygon>
                    <text x="43" y="48" text-anchor="middle" fill="#4d4d4d">{{mutualista.META_ADOLESCENTE}}</text>
                  </g>
                </svg>
              </div>
            </td>
            <td>
              <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  <span class="sr-only">{{mutualista.META_ADULTO}} %</span>
                </div>
              </div>
              <div class="info">
                {{mutualista.META_ADULTO}}
              </div>
            </td>
            <td>
              <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  <span class="sr-only">{{mutualista.META_ADULTO_MAYOR}} %</span>
                </div>
              </div>
              <div class="info">
                {{mutualista.META_ADULTO_MAYOR}}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container">
    <h1 class="info_wireframe">Opcion 2: "Mapa de colores"</h1>
    <div class="row">
      <div ng-controller="heatmap" class="col-md-offset-3 col-md-6">
        <highchart id="chart1" config="chartConfig" class="span10"></highchart>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.js"></script>
  <!-- this is needed to use highcharts without jQuery -->
  <script src="http://code.highcharts.com/adapters/standalone-framework.js"></script>
  <script src="http://code.highcharts.com/highcharts.src.js"></script>
  <!-- heatmap module for highcharts -->
  <script src="http://code.highcharts.com/modules/heatmap.src.js"></script>
  <!-- highcharts directives for Angular -->
  <script src="https://raw.githubusercontent.com/pablojim/highcharts-ng/0.0.7/src/highcharts-ng.js"></script>

  <!-- application scripts -->
  <script src="js/app.js"></script>
  <script src="js/show_action.js"></script>
  <script src="js/options_controller.js"></script>
  <script src="js/heatmap_chart.js"></script>
</body>
</html>
